{% extends 'base.html' %}
{% load static %}
{% block body %}

		<main class="content">
			<section class="centered">
				<h3>Movies List</h3>
				<div class="movies">
                <div class="mov">
                                <a href="">
                                    <img src="{% static "img/Avengers.jpg" %}">
                                    <h2 class="movietitle">Avengers</h2>
                                </a>
                            </div><div class="mov">
                                <a href="">
                                    <img src="{% static "img/matrix.jpg" %}">
                                    <h2 class="movietitle">Matrix</h2>
                                </a>
                            </div>
                        {% for movie in object_list %}
                            <div class="mov">
                                <a href="">
                                    <img src="{{movie.image.url}}">
                                    <h2 class="movietitle">{{ movie.title }}</h2>
                                </a>
                            </div>
                        {% endfor %}

                </div>
{% if paginator %}
				<nav class="pagination">
					<ul>
                        {% if page_obj.has_previous %}
						    <li><a href="?pages={{ page_obj.previous_page_number }}">Prev</a></li>
                        {% else %}
                            <li class="="disabled=""></li>
                        {% endif %}


                        {% for page in page_obj.paginator.page_range %}
                            {%  if page_obj.number == page %}
						    <li><a href="#">{{ page }}</a></li>
						    {% else %}
                                <li><a href="?pages={{ page }}"></a>{{ page }} </li>
                            {% endif %}
                        {% endfor %}


                        {% if page_obj.has_next %}
						    <li><a href="?pages={{ page_obj.previous_page_number }}">Next</a></li>
                              {% else %}
                            <li class="="disabled=""></li>

                        {% endif %}

                    </ul>
				</nav>
{% endif %}
			</section>

		</main>

{% endblock body %}